@model WebPoll.Model.Models.Artist

@{
    ViewData["Title"] = "details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details of @Model.Name</h2>

<div>
    <h4>Musics</h4>
    <hr />
    
	<table class="table">
		<thead>
			<tr>
				<th>
					@Html.DisplayNameFor(model => model.Name)
				</th>
				<th>
					Genre
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.Musics)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Genre.Name)
					</td>
					<td>
						<a asp-controller="Music" asp-action="Details" asp-route-id="@item.ID">Details</a> |
						<a asp-controller="Music" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
					</td>
				</tr>
			}
		</tbody>
	</table>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
